main {
  flex: 1;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #1a1a1a;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100%;
  margin: 0;
  padding: 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  padding: 10px 20px;
}
/* Media query del NAVBAR */
@media (max-width: 360px) {
  .navbar {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
  .navbar ul {
    font-size: 13px;
    display: flex;
    flex-wrap: wrap;
  }
}
.navbar .logo {
  font-size: 30px;

  font-family: "galada", sans-serif;
}
.navbar .logo a {
  text-decoration: none;
  color: white;
}
.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  font-family: "libre franklin", sans-serif;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}
.navbar ul li a:hover {
  color: #ccc;
}
.navbar .redes-sociales {
  display: flex;
  gap: 15px;
}
.navbar .redes-sociales a {
  color: white;
  text-decoration: none;
}

.footer {
  background-color: #000000;
  color: #ffffff;
  padding: 20px;
  /* margin-top: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  bottom: 0;
  position: relative;
  width: 100%;
}
.redes-sociales-footer {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 5px;
}
.redes-sociales-footer a {
  color: #ffffff;
  color: rgb(255 255 255);
  text-decoration: none;
}

/* media queryes para el footer */
@media (min-width: 360px) {
  .footer {
    padding: 10px;
    font-size: 14px;
  }
  .redes-sociales-footer {
    gap: 15px;
  }
}

@media (min-width: 768px) {
  .footer {
    padding: 20px;
    font-size: 16px;
  }
  .redes-sociales-footer {
    gap: 20px;
  }
}

.hero {
  max-width: 100%;
  height: auto;
  filter: brightness(0.5);
}

.texto-hero {
  position: absolute;
  top: 160px;
  left: 65px;
  color: #fff;
}
/* Media query para el texto del hero */
@media (max-width: 550px) {
  .texto-hero {
    top: 100px;
    left: 40px;
  }
}
.titulo-hero {
  color: #fff;
  font-size: 40px;
}
@media (max-width: 360px) {
  .titulo-hero {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .titulo-hero {
    font-size: 25px;
  }
}
.parrafo-hero {
  color: #fff;
  font-size: 16px;
}
@media (max-width: 360px) {
  .parrafo-hero {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .parrafo-hero {
    font-size: 14px;
  }
}
.container-cards {
  display: flex;
  gap: 20px;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 15px;
}
.presentacion-servicios h1 {
  color: #fff;
  font-size: 30px;
  text-align: center;
  font-family: "libre franklin", sans-serif;
}
.presentacion-servicios {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
.presentacion-servicios p {
  color: #fff;
  font-size: 15px;
  text-align: left;
  font-family: "libre franklin", sans-serif;
  width: 75%;
  margin: auto;
}
.contacto-button {
  display: inline-block;
  background-color: #6ab03c;
  color: white;
  padding: 7px 14px;
  text-decoration: none;
  font-size: 20px;
  border-radius: 10px;
  margin: 20px 0;
  transition: background-color 0.3s;
}
.contacto-button:hover {
  background-color: #66b32c;
}
.titulo-portfolio {
  color: #fff;
  font-size: 24px;
  text-align: center;
  font-family: "libre franklin", sans-serif;
}
.card {
  flex-basis: 250px; /*para que los cards sean de igual tamaño */
  height: 146px; /* para que los cards sean de igual tamaño */
  background: #898989;
  border: 1px solid #adadad;
  /* non se porque ayuda el position relative para que los botones se muestren */
  position: relative;
  padding: 5px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 414px) {
  .card img {
    height: 90%;
  }
}
@media (max-width: 430px) {
  .card img {
    height: 82%;
  }
}

.card .boton-fotos {
  position: absolute;
  top: 78%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  background-color: white;
  padding: 4px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.card .boton-videos {
  position: absolute;
  top: 78%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  background-color: white;
  padding: 4px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.card .boton-fotos:hover {
  background: #cacaca;
}

.card .boton-videos:hover {
  background: #cacaca;
}
